.Button {
    display: grid;
    justify-content: center;
    align-content: center;  
    cursor: pointer;
    border: none;
    outline: none;
  
}
.Button svg {
    fill: var(--white);
    width: 30px;
   
}

.SliderRightButton {
    width: 30px;
    height: 60px;
  
    background-image: linear-gradient(0.25turn, rgb(31, 41, 92), var(--black-background));
  
}

.SliderRightButton svg {
    transform: rotate(180deg);
}

.SliderRightButton:hover {
    background-image: linear-gradient(0.25turn,var(--black-background), rgb(31, 41, 92) );
}

.SliderLeftButton {
    width: 30px;
    height: 60px;
    border: none;
    outline: none;
    background-image: linear-gradient(0.25turn, var(--black-background), rgb(31, 41, 92));
  
}

.SliderLeftButton:hover {
    background-image: linear-gradient(0.25turn,  rgb(31, 41, 92), var(--black-background));
}

.SmallSliderRightButton{
    background: var(--blue-dark);
    border: none;
    outline: none;
    border-radius: 3px;
    height: 14px;
}

.SmallSliderRightButton svg {
    width: 20px;
    height: 5px;
    transform: rotate(180deg);
}

.SmallSliderRightButton:hover {
    background: var(--gray-black);
}

.SmallSliderLeftButton {
    background: var(--blue-dark);
    border: none;
    outline: none;
    border-radius: 3px;
    height: 14px;
}

.SmallSliderLeftButton svg {
    width: 20px;
    height: 5px;
   
}

.SmallSliderLeftButton:hover {
    background: var(--gray-black);
}

.PrimaryButton {
    background-image: linear-gradient(to right, #75b022 5%, #588a1b);
    padding: 6px 17px;
    color: rgba(255, 255, 255, 0.795);
    border-radius: 2px;
}

.PrimaryButton:hover {
    background-image: linear-gradient(.50turn, #75b022f1 5%, #588a1b);
}

.SubmitButton {
    padding: 10px 20px;
    font-size: 15px;
    color: var(--white);
    outline: none;
    border: none;
    background: linear-gradient( to right, #47bfff 5%, #1a44c2 60%);
    box-shadow: 8px 8px 8px 1px rgb(0 0 0 / 20%);
}
.SubmitButton:hover {
    background: linear-gradient( to right, #47bfff 7%, #2148be 60%);
}




@media screen and (max-width: 1060px) {

   

} 
