.MenuHeaderComponent {
    position: absolute;
    top: 90px;
    width: 1000px;
    background-image: linear-gradient(0.25turn, #2a5085, var(--blue-dark));
    -webkit-box-shadow: 8px 8px 8px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 8px 8px 8px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 8px 8px 8px 1px rgba(0, 0, 0, 0.2);
    display: flex;
}

.MenuHeaderComponent ul {
    display: flex;
}

.MenuHeaderComponent ul li {
    width: 180px;
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
}

.MenuHeaderComponent ul li:hover {
    background-image: linear-gradient(0.50turn, #3c6caa,  #13396b);
    color: var(--white);
}

.MenuItemsComponets{
    position: absolute;
    /* width: 100%; */
    /* left: 0px; */
    margin-left: -10px;
    color: #fff;
    top: 37px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    font-size: 13px;
    background-image: linear-gradient(0.25turn, #203d66b6, #244779);
    -webkit-box-shadow: 8px 8px 8px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 8px 8px 8px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 8px 8px 8px 1px rgba(0, 0, 0, 0.2);
    animation: menuItemAppear .4s ease-in-out forwards ;
}

@keyframes menuItemAppear {
    from {opacity: 0;}
    to {opacity: 1;}
}