.MenuHeaderComponent {
    position: absolute;
    top: 90px;
    width: 900px;
    background-image: linear-gradient(0.25turn, #2a5085, var(--blue-dark));
    -webkit-box-shadow: 8px 8px 8px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 8px 8px 8px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 8px 8px 8px 1px rgba(0, 0, 0, 0.2);
    display: flex;
}

.MenuHeaderComponent ul {
    display: flex;
}

.MenuHeaderComponent ul li {
    padding: 10px 20px;
    cursor: pointer;
}

.MenuHeaderComponent ul li:hover {
    background-image: linear-gradient(0.50turn, #6b90c0,  #13396b);
}

.MenuItemsComponets{
    position: absolute;
    width: 900px;
    left: 0px;
    top: 42px;
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    background-image: linear-gradient(0.25turn, #2a5085, var(--blue-dark));
    -webkit-box-shadow: 8px 8px 8px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 8px 8px 8px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 8px 8px 8px 1px rgba(0, 0, 0, 0.2);
    animation: menuItemAppear .4s ease-in-out forwards ;
}

@keyframes menuItemAppear {
    from {opacity: 0;}
    to {opacity: 1;}
}