.booked div {
	background: rgb(54 54 54) !important;
}

.booked {
	background: rgb(54 54 54) !important;
}

.Seat {
	position: relative;
	z-index: 7;

	width: 36px;
	height: 24px;

	cursor: pointer;
	animation: shadowSeat 5s ease-in-out 0.3s forwards;

	border: 2px solid  rgb(3 3 3);
	border-radius: 10px;
	background: var(--white);
}

.Seat div {
	position: relative;
	z-index: 7;

	align-self: center;

	width: 28px;
	height: 28px;
	margin-top: -12px;

	cursor: pointer;
	text-align: center;

	color: rgb(0 0 0);
	border: 2px solid rgb(0 0 0);
	border-radius: 10px;
	background: var(--white);

	font-size: 11px;
	font-weight: bold;
	justify-self: center;
}

@media screen and (max-width: 500px) {
	.Seat {
		position: relative;
		z-index: 7;

		width: 32px;
		height: 22px;

		cursor: pointer;

		border: 1px solid  rgb(3 3 3 / 80%);
		border-radius: 10px;
		background: var(--white);
	}

	.Seat div {
		position: relative;
		z-index: 7;

		width: 26px;
		height: 26px;
		margin-top: -8px;
		margin-left: 0;

		cursor: pointer;
		text-align: center;

		color: rgb(0 0 0);
		border: 2px solid rgb(0 0 0);
		border-radius: 10px;
		background: var(--white);

		font-size: 11px;
		font-weight: bold;
	}
}
