.textAreaWrapper {
	position: relative;

	display: grid;
}

.textArea {
	margin: 0 30px;
	padding: 5px 0;
	padding-left: 10px;

	color: var(--black);
	border: none;
	border-radius: 4px;
	outline: 1px solid var(--blue-light);
}

.error {
	outline: 2px solid var(--red);
}

.errorMessage {
	margin-left: 30px;

	animation: error 0.3s ease-in-out forwards;

	color: var(--red);

	font-size: 12px;
}

@media screen and (max-width: 820px) {
	.errorMessage {
		font-size: 16px;
	}
}

@keyframes error {
	from {
		margin-top: -30px;

		opacity: 0%;
	}

	to {
		margin-top: 0;

		opacity: 100%;
	}
}
