.CalcBlock {
    position: relative;
    width: 300px;
    min-height: 200px;
    justify-self: end;
    background: rgba(0, 0, 0, 0.144);
    border-radius: 10px;
    display: grid;
}

.CalcBlock p:last-child {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.CalcBlock p {
    margin-left: 20px;
}

.CalcBlock button {
 margin:10px;
 height: 40px;
 align-self: end;
}

@media screen and (max-width: 1000px) {

    .CalcBlock {
        position: fixed;
        width: 100%;
        left: 0px;
        right: 0px;
        bottom: 0px;
        min-height: 60px;
        background: rgba(0, 0, 0, 0.788);
    }
}