.Header {
    background: var(--black);
    color: var(--white);
    display: flex;
    justify-content: center;
    z-index: 40;
}
.Header h3 {
    margin-left: 5px;
    letter-spacing: 2px;
}
.Steam {
    width: 40px;
    height: 40px;
    background: var(--white);
    display: grid;
    border-radius: 50%;
    align-self: center;
}

.Steam svg {
    width: 45px;
    height: 45px;
}