.ImageHeader img {
	width: 100%;
	height: 100%;
	margin: 0;
}

@media (max-width: 700px) {
	.ImageHeader {
		display: none;
	}
}

@keyframes blockLoader {
	0% { background: rgb(230 230 230); }
	50% { background: rgb(252 252 252); }
	100% { background: rgb(230 230 230); }
}

@keyframes loader {
	from { margin-left: 0; }
	to { margin-left: 95%; }
}
