.Sidebar {
	position: fixed;
	z-index: 10;
	top: 0;
	bottom: 0;
	left: 0;

	display: grid;

	transition: all 0.2s ease-in-out;

	opacity: 100%;
	background: var(--white);
	box-shadow: 0 0 10px rgb(0 0 0 / 40%);
}

.Label {
	position: absolute;
	z-index: 150;
	top: 40px;
	left: 15px;

	display: grid;

	width: 70px;
	height: 100px;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: 1fr;
}

.Label span {
	color: var(--blue-light);

	font-size: 13px;
	font-weight: 700;
}

.menuWrapper {
	align-self: center;
}

@media (max-width: 700px) {
	.menuWrapper {
		width: 50px;

		transition: none;
	}

	.Label {
		position: absolute;
		z-index: 150;
		top: 10px;
		left: 5px;

		display: grid;

		width: 40px;
		height: 100px;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: 1fr;
	}

	.Label span {
		display: none;
	}
}

@media (max-width: 500px) {
	.Sidebar {
		position: fixed;
		z-index: 140;
		top: 0;
		right: 0;
		left: 0;

		display: grid;

		height: 55px;

		transition: all 0.2s ease-in-out;

		opacity: 100%;
		background: var(--white);
	}

	.Label {
		z-index: 120;
		top: 8px;
		left: 20px;

		display: grid;
		grid-template-columns: 40px 60px;
		grid-template-rows: 50px;
	}

	.Label span {
		display: block;

		margin-left: 10px;
	}

	.menuWrapper {
		position: fixed;
		z-index: 5;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		display: grid;
		align-content: center;
		justify-content: start;

		width: 100%;
		grid-template-rows: 300px repeat(5, 1fr);
		grid-template-columns: repeat(2, 1fr);
		gap: 5px;
	}

	.menuClose {
		position: absolute;

		transform: translateY(-100vh);
	}

	.menuOpen {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		transition: all 0.3s ease-in-out;

		background: rgb(45 54 66 / 90%);
	}
}
