html,
body {
	margin: 0;
	padding: 0;
	color: var(--black);
	background: #F5F6F8;
	font-family: "Noto Sans", sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--gray-light: #36414E;
	--gray-dark: #2D3642;
	--gray-black: #202731;
	--white: white;
	--white-gray: rgb(255 255 255 / 60%);
	--primary: #7653FC;
	--primary-hover: #562FF5;
	--red: #DC3474;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--font-family: "Noto Sans", sans-serif;
	--blue-light: #34D3FF;
	--blue-very-light: #72DBF8;
	--red-light: #FF8B8B;
}
