.FilmSectionCard {
	position: relative;
	z-index: 2;

	display: grid;

	width: 100%;
	min-height: 550px;

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	grid-template-rows: 550px;
	grid-template-columns: 390px 1fr;
	grid-template-areas: "img info";
}

.FilmSectionImage {
	grid-area: img;
}

.FilmSectionCardInfo {
	padding-left: 30px;

	background: rgb(0 0 0 / 90%);
	grid-area: info;
}

.FilmSectionCardInfo p {
	color: rgb(255 255 255 / 50%);

	font-size: 11px;
}

.FilmSectionInfo {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(2, 1fr);
}

.FilmSectionSecond {
	margin-left: 50px;
}

.FilmSectionSecond svg {
	align-self: center;

	width: 15px;
	height: 15px;
	fill: var(--white);
}

.FilmSectionSecond p {
	align-self: center;

	color: var(--white);

	font-size: 16px;
}

.FilmSectionSecond span {
	align-self: center;

	color: rgb(255 255 255 / 50%);
}

.FilmSectionInfo span {
	margin-right: 10px;

	font-size: 13px;
}

.FilmOptions {
	display: flex;
	align-content: center;

	margin-right: 30px;
	padding-bottom: 20px;

	border-bottom: 1px solid rgb(255 255 255 / 20%);
}

.FilmOptions svg {
	margin-right: 10px;
}

.FilmOptions p {
	margin: 0;
}

.FilmOptions span {
	margin-left: 30px;
}

.FilmActors {
	display: grid;
	grid-template-rows: repeat(2, 55px);

	margin-top: 10px;
}

.FilmActors div {
	display: grid;
	grid-template-columns: 85px 1fr;
}

.FilmActors p {
	align-self: start;

	text-transform: uppercase;

	color: rgb(255 255 255 / 50%);

	font-size: 10px;
}

.FilmActors span {
	align-self: start;

	margin-top: 9px;
	margin-right: 50px;

	word-wrap: break-word;

	color: rgb(255 255 255 / 70%);
}

.FilmButtons {
	position: absolute;
	bottom: 0;
	left: 50%;

	display: grid;

	transform: translateX(-50%);

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background: none;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.FilmButtons button {
	margin: 10px;
	padding: 10px 25px;

	text-transform: uppercase;

	color: rgb(255 255 255 / 70%);

	font-size: 12px;
	font-weight: bold;
}

.FilmTrailer {
	display: grid;

	transition: all 0.3s ease-in-out;

	border: 1px solid rgb(255 255 255 / 30%);
	background: var(--gray-black);
	grid-template-columns: 20px 1fr;
}

.FilmTrailer svg {
	width: 15px;
	height: 15px;
	fill: rgb(255 255 255 / 30%);
}

.FilmTrailer:hover {
	border: 1px solid rgb(255 255 255 / 50%);
}

.FilmTrailer:hover svg {
	fill: rgb(255 255 255 / 50%);
}

.FilmTicket {
	border: none;
	background: var(--red);
}

@media screen and (max-width: 1500px) {
	.FilmActors {
		display: grid;
		grid-template-rows: repeat(2, 75px);
	}
}

@media screen and (max-width: 1350px) {
	.FilmActors {
		display: grid;
		grid-template-rows: repeat(2, 90px);
	}
}

@media screen and (max-width: 1260px) {
	.FilmSectionInfo {
		grid-template-rows: 150px 150px;
		grid-template-columns: 1fr;
	}

	.FilmSectionSecond {
		margin-left: 0;
	}

	.FilmActors {
		display: grid;
		grid-template-rows: repeat(2, 50px);
	}
}

@media screen and (max-width: 1100px) {
	.FilmSectionImage {
		display: none;
	}

	.FilmSectionCard {
		position: relative;
		z-index: 10;

		display: grid;

		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		grid-template-rows: 550px;
		grid-template-columns: 1fr;
		grid-template-areas: "img info";
	}

	.FilmSectionCardInfo {
		background: rgb(0 0 0 / 70%);
	}
}

@media screen and (max-width: 850px) {
	.FilmSectionCard {
		z-index: 0;
	}

	.FilmSectionCardInfo {
		padding-top: 70px;
	}

	.FilmSectionCardInfo p {
		font-size: 9px;
	}

	.FilmSectionCardInfo h1 {
		font-size: 18px;
	}

	.FilmSectionInfo span {
		font-size: 11px;
	}

	.FilmButtons {
		display: grid;

		width: 95%;
		margin-bottom: 10px;

		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		background: var(--gray-black);
		background: none;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr);
	}

	.FilmActors {

		grid-template-rows: repeat(2, 60px);
	}

	.FilmTrailer {
		align-self: start;
		justify-self: start;
	}
}
